# Core Machine Learning & Deep Learning Frameworks
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
transformers==4.56.1

# Hugging Face Ecosystem
accelerate==1.10.1
datasets
huggingface_hub==0.34.4
peft
safetensors==0.6.2
tokenizers==0.22.0
dill==0.4.0
jedi==0.19.1

# High-Performance & LLM Inference

ray[default]
sglang[all]==0.5.2
tensordict>=0.8.0,<=0.10.0,!=0.9.0
# vllm==0.10.2
xformers

# Data Handling & Scientific Computing
numpy
pandas
pyarrow>=19.0.0
torchdata==0.11.0
anthropic==0.68.1

# Utilities & Experiment Tracking
codetiming==1.4.0
dill==0.4.0
hydra-core==1.3.2
pybind11==3.0.1
pylatexenc==2.10
tqdm==4.67.1
wandb==0.22.1
qwen_vl_utils
decord
sentencepiece==0.2.1
scipy==1.16.2
setproctitle==1.3.7
python-json-logger==3.3.0

pycparser==2.23
pydantic==2.11.7
pybase64==1.4.2
py-cpuinfo==9.0.0
psutil==7.0.0
orjson==3.11.3
protobuf==6.32.1
partial-json-parser==0.2.1.1.post6
opentelemetry-sdk==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-exporter-prometheus==0.58b0
pyasn1==0.4.5
cachetools==6.2.0
rsa==4.9
google-auth==2.41.1
opencensus==0.11.3
google_api_core==2.7.3
ninja==1.13.0
networkx==3.4.2

msgspec==0.19.0
cffi==2.0.0
pyparsing==3.2.5
kiwisolver==1.4.9
fonttools==4.60.1
matplotlib==3.10.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
pandas==2.3.3
Pillow==11.0.0
pip==23.3.1
decorator==5.2.0
pexpect==4.8.0

dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
einops==0.8.1
jinja2==3.1.6
langchain==0.3.27
mistral-common==1.8.5
numba==0.61.2

requests==2.32.5
typer==0.17.4
typing-extensions==4.15.0
typing-inspection==0.4.1
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
tqdm==4.67.1
wandb
prompt-toolkit==3.0.52
traitlets==5.14.2
